@model Smatrves.Models.Client

@{
    ViewBag.Title = "Registration";
}

<h2>Registration New User</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ava)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ava)
            @Html.ValidationMessageFor(model => model.Ava)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateofBirthDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateofBirthDay)
            @Html.ValidationMessageFor(model => model.DateofBirthDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WMID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WMID)
            @Html.ValidationMessageFor(model => model.WMID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WMR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WMR)
            @Html.ValidationMessageFor(model => model.WMR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Paypalemail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Paypalemail)
            @Html.ValidationMessageFor(model => model.Paypalemail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Targetingdata)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Targetingdata)
            @Html.ValidationMessageFor(model => model.Targetingdata)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
