@model IEnumerable<Smatrves.Models.Site>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlyUniqueIP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlyUniqueIP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SiteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteID })
        </td>
    </tr>
}

</table>
